/*Background - bright-ish circle in the middle */
html, body
{
  background: radial-gradient(circle at center, #2C2C2C, #1C1C1C);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}


@keyframes backgroundAnimation 
{
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

body 
{
    margin: 20px;
    font-family: 'Cambria', sans-serif; 
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: gainsboro;
}

body.page-transition 
{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
body.page-transition.page-loaded 
{
    opacity: 1;
}


/*First load of page fade in*/
.page-content {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


h1, h2
{
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

/* Headline gradual type, once */
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  left: 0;
  animation: typing 5s steps(50, end);
  }

  /* Sub-Headline gradual type, once, and faster */
.fast-typewriter {
  overflow: hidden; /* Hides the text until the animation starts */
  white-space: nowrap; /* Keeps the text on a single line */
  animation: typing 2s steps(100, end);
}
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


p
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
    font-size: 18px;
    line-height: 1.6;
    color: gainsboro;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
}



/* Unsure if needed */
.parent-container {
  width: 100%;
}

.container 
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section 
{
    max-width: 600px;
    margin: 20px;
    margin-top: 20px auto;
    transition: background-color 0.3s ease;
    border: 2px dashed gray;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

img
{
  max-width: 100%;
  border: 1px dashed gray;
  border-radius: 20px;
  opacity: 0.5s ease-in-out, transform 0.5s ease-in-out;
  margin: 0 auto;
}


/* Navigation bar of 3/4 buttons */
nav 
{
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    margin-bottom: 20px; 
}

button 
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #333;
  color: gainsboro;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none; /* unsure if needed */
  font-size: 18px;

  border: 2px dashed gray;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  animation: pulse 3s ease-in-out infinite;
}

button:hover, button:focus, button:active {
  border: 2px dashed whitesmoke;
}

/* Idle animation for buttons */
  @keyframes pulse 
  {
    0% 
    {
      transform: scale(1);
    }
    50% 
    {
      transform: scale(1.05);
    }
    100% 
    {
      transform: scale(1);
    }
  }
  

  /* From Home section, slider holds multiple slide class */
  .slider {
    margin-top: 40px;
    position: relative;
    width: 100%;
    height: 50vh; /* Adjust the height as needed */
    justify-content: center;
    align-items: center;
}

/* Holds a single image */
.slide 
{
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide.active /*Opacity can be tweaked to be 0.5 to 0.75*/
{
    opacity: 0.5;
}

.slide.next {
    transform: translateX(100%);
}

.slide.prev {
    transform: translateX(-100%);
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);

}
