html
{
    scroll-behavior: smooth;
}


body 
{
  display: flex;
  margin: 0;
  background-color: #1b1b1b;
  color: #e0e0e0;
  min-height: 100vh;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif
}

h1
{
  padding: 16px;
  background: linear-gradient(140deg, skyblue, plum);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 8px;
}

h2
{
  color: gainsboro;
  letter-spacing: 1px;
}

#h-div
{
  border-radius: 32px;
  border: 1px solid #777;
}


nav /* Categories to the left */
{
  width: 20%;
  padding: 32px;
  box-sizing: border-box;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* Sticky with flex box */

}

nav ul 
{
  list-style-type: circle;
  padding: 32px;
  
  border: 1px solid #777;
  border-radius: 32px;
}

nav li 
{
  margin-bottom: 16px;
}

nav a 
{
  color: #e0e0e0;
  padding: 4px;
}

nav a:hover 
{
  background: linear-gradient(145deg,skyblue, plum);
  border-radius: 8px;
  color: black;
}

main 
{
  flex-grow: 1;
  padding: 32px;
}

section 
{
  margin-bottom: 20px;
  border: 1px solid #777;
  padding: 32px;
  border-radius: 64px;
}

.flex-projects /* Projects, 2 each on mobile, 3 else */
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
  column-gap: 16px;
  margin-left: 16px;
  
}

@media (max-width: 1000px) /* Enlarge stuff on mobile */
{
  .flex-projects
  {
    grid-template-columns: 1fr 1fr;
  }
  nav
  {
    width: 100%;
    position: static;
    margin-top: 32px;
  }
  h1
  {
    text-align: center;
  }
  nav li 
  {
    margin-left: 16px;
  }
  body
  {
    font-size: xx-large;
    display: grid;
  }
  .inviting
  {
    width: 25%;
  }
}


.im-brd /* Project image */
{
  border: 2px solid #e0e0e0;
  border-radius: 64px;
  width: 300px;
  opacity: 0.6;

  transition: border-radius 0.1s ease-in-out;
}

.im-brd:hover /* Emphasize image on hover */
{
    opacity: 1;
    border-radius: 4px;
}

.image-container:hover .overlay /* Hide overlay on hover */
{
  opacity: 0;
}

.image-container /* Has 1. Project Image 2. Overlay */
{
  position: relative;
  width: 300px;
}


.overlay /* Text box, at the bottom of project image */
{
  opacity: 1;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 5%;
  color: #e0e0e0;
  width: 100%; /* Fit parent (sounds weird) */
  padding: 5px;
  text-align: center;
  background-image: linear-gradient(
    -100deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgb(64, 64, 64) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
);
}


.im-brd-small /* Icon below project */
{
  border: 2px solid #333;
  border-radius: 25px;
  margin-top: 10px;
  width: 30%;
  opacity: 0.9;
}

.im-skill /* Skills icon in section 1 */
{
  border: 2px solid #333;
  border-radius: 16px;
  margin-right: 4px
}

.im-app /* Apps icon in section 1 */
{
  border: 2px inset #aaa;
  border-radius: 20px;
  width: 128px;
  opacity: 0.6;
  margin-right: 16px;
  animation: fade-in 3s ease;
}

.im-app:hover /* Emphasize image's border on hover & a little pop */
{
  border-color: #ccc;
  opacity: 1;
  cursor: pointer;
  animation: fade-in 0s ease; /* Cancels the fade in animation */
}

#div-app
{
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid #777;
  padding: 16px;
  margin-right: 16px;
  border-radius: 32px;
}

@keyframes fade-in
{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes pop 
{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.inviting /* Icons with animation to draw attention */
{
    opacity: 0.6;
    margin-right: 16px;
    border: 1px solid #555;
    border-radius: 32px;
    padding: 8px;
    transition: border-radius 0.2s ease-in-out;
}

.inviting:hover
{
    opacity: 1;
    border-radius: 0%;
}

.remark
{
  font-size: medium;
  color: #888;
}


#btn-top 
{
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 99;
  text-decoration: none;

  background: linear-gradient(145deg,skyblue, plum);
  cursor: pointer;
  padding: 8px;
  border-radius: 16px; /* Rounded corners */  
  opacity: 0.4;
  /* animation: fade-in 0s ease-in; */
}

#btn-top:hover 
{
  animation: fade-in 0s ease-in;
  opacity: 0.8;
}